:root {
  --primary: #d1ff8a;
  --secondary: white;
  --teritiary: #888;
  --font-color-primary: black;
  --opacity: 0.7;
  --border-radius: 10px;
}

html,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--secondary);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23d1ff8a' fill-opacity='0.52'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  color: var(--font-color-primary);
  font-size: 16px;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  font-size: 1rem;
  border: 1px solid var(--teritiary);
  border-radius: var(--border-radius);
  padding: 0.5rem 1rem 0.5rem 1rem;
  transition: background 0.15s ease;
  background: var(--secondary);
}

button:focus,
button:hover,
button:active {
  background: var(--primary);
  cursor: pointer;
}

header {
  width: 100vw;
  height: 4rem;
  background: var(--secondary);
  padding-top: 1rem;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin: 0;
  font-size: 1.5rem;
  text-align: center;
}

.main-section {
  width: 75%;
}

.footer {
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--secondary);
  color: var(--teritiary);
  position: absolute;
  bottom: 0;
}

/* Color Swatch */

.color-swatches {
  padding: 2rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.options {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.color-space {
  border: 1px solid var(--teritiary);
  border-radius: var(--border-radius);
  padding: 0.5rem 1rem 0.5rem 1rem;
  color: var(--teritiary);
  transition: color 0.15s ease, border-color 0.15s ease;
  background: var(--secondary);
}

.color-space select {
  border: none;
  font-size: 1rem;
  padding: 0.5rem 0rem 0.5rem 0rem;
  background: var(--secondary);
}

.swatches {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  border: 1px solid var(--teritiary);
  padding: 1rem;
  border-radius: var(--border-radius);
  margin: 1rem 0 1rem 0;
  background: var(--secondary);
}

.swatch {
  height: 100px;
  flex: 1 1 auto;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.swatch-child {
  background: var(--secondary);
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: var(--border-radius);
  border: 1px solid var(--teritiary);
}
